<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand nav_title" href="#">Quản lý danh mục sản phẩm</a>

</nav>

<div class="container mt-5">
  <p>Mã sản phẩm:</p>
  <input class="form-control mb-3" type="text" #masp>
  <p>Tên sản phẩm:</p>
  <input class="form-control mb-3" type="text" #tensp>
  <p>Giá tiền:</p>
  <input class="form-control" type="text" #giasp>
  <button class="btn btn-success mt-3" (click)="ThemSanPham(masp.value,tensp.value,giasp.value)">Thêm sản phẩm</button>
</div>

<div class="container-fluid mt-5">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã Sản Phẩm</th>
        <th>Tên Sản Phẩm</th>
        <th>Giá</th>
      </tr>
    </thead>
    <tbody class="tbodySanPham">

      <ng-container *ngFor="let item of DanhSachSanPham;let STT = index">
        <ng-container *ngIf="(STT+1)%2 === 0; else InDongLe">
          <tr class="bg-secondary text-light">
            <td>{{STT+1}}</td>
            <td>{{item.maSanPham}}</td>
            <td>{{item.tenSanPham}}</td>
            <td>{{item.giaSanPham}}</td>
          </tr>
        </ng-container>
        <ng-template #InDongLe>
          <tr class="bg-light text-dark">
            <td>{{STT+1}}</td>
            <td>{{item.maSanPham}}</td>
            <td>{{item.tenSanPham}}</td>
            <td>{{item.giaSanPham}}</td>
          </tr>
        </ng-template>
      </ng-container>



    </tbody>
  </table>
</div>